.settingsMain {
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
  border-radius: 25px;
}

.settings-group {
  display: flex;
  border: 1px solid gray;
  border-radius: 25px;
  flex-direction: column;
  margin-bottom: 5px;
}

.settings-group-hidden {
  display: none;
}

.settings-group-content {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.single-setting {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 10px;
}

.single-setting-hidden {
  display: none;
}

.setting-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.settings-group-header {
  display: flex;
  flex-direction: row;
}

.settings-desc {
  padding-right: 12px;
  margin-left: 15px;
  font-weight: 400;
  font-size: 1rem;
}
.settings-text{
  margin-left: auto;
  flex-grow: 2;
}

.settings-text input {
  width: 100%;
  background: transparent;
  border: 1px solid #a49fb2;
  border-radius: 0.25rem;
  font-weight: 400;
  font-size: 1rem;
  outline: none;
  box-sizing: border-box;
}

.save-button a {
  text-decoration: none;
  font-size: xx-large;
}

.cancel-button a {
  text-decoration: none;
  font-size: xx-large;
}

.remove-setting {
  margin-left: auto;
  margin-right: 12px;
}

.remove-setting a {
  text-decoration: none;
  font-size: large;
}

.add-setting {
  margin-left: auto;
  margin-right: 12px;
}

.add-setting a {
  text-decoration: none;
  font-size: large;
}