.freeplane {
  display: flex;
}
.input-file {
  display: none;
}

.fp-btn {
  background: url("https://raw.githubusercontent.com/freeplane/freeplane/3e6a1230ca958fab95cb83264fd638479f278426/freeplane_framework/launch4j/Freeplane_app.ico");
  background-size: contain;
  background-repeat: no-repeat;
  width: 50px;
  margin-top: 2px;
  margin-bottom: 2px;
}