.search-row {
  display: flex;
}

.search-left{
  display: flex;
  width: 12px;
}

.search-db select {
  background: transparent;
  width: 80px;
  height: 100%;
  outline: none;
  border: none;
}

.search-magnifier {
  font-size: xx-large;
}